<h2>Welcome to Ember.js</h2>

<ul id="todo-list">
  {{#each }}
    <li {{bindAttr class="isCompleted:completed"}}>
      <input type="checkbox" class="toggle">
      <label>{{title}}</label><button class="destroy"></button>
    </li>
  {{/each}}
</ul>